<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex d-flex xs12 offset-sm1>
          <v-card :class="classe">
            <h1>{{quantidade}}</h1>
            <h2>{{nomeBalao}}</h2>
          </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import axios from 'axios'
export default {
    name:"BalaoInformativo",
    props:["nomeBalao","tipoProcesso",'classe'],
    data(){
      return{
        quantidade:0,
        urlApi:"http://localhost:8000/api/",
        token: document.cookie,
      }
    },
    methods:{
      buscaInformacoes(){
        var token = this.token.replace("tk=","");
        axios({
          method:'get',
          url: this.urlApi+'processo/especifico/',
          headers:{
            'Authorization':'Bearer '+token,
            'tipoProcesso': this.tipoProcesso
          }
        }).then(resposta =>{
          this.quantidade = resposta.data;
        }).catch(rejeitado =>{
          // eslint-disable-next-line 
          console.log(rejeitado);
        });
      }
    },
    created(){
      this.buscaInformacoes();
    }
}
</script>

<style scoped>
    .ativos{
      background-color: #007bff;
      padding: 15px;
      color: white;
    }
    .passivos{
      background-color: #dc3545;
      padding: 15px;
      color: white;
    }
    .finalizados{
      background-color: #28a745;
      padding: 15px;
      color: white;
    }
    
</style>

