<template>
  <v-layout justify-end :onload="alteraCadastra">
      
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-btn slot="activator" v-on:click="limpaCampos" large color="primary" dark><v-icon left>person_add</v-icon>{{nomeBtn}}</v-btn>
      <v-card>
        <v-card-title>
          <span class="headline">{{textoTituloModal}}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-form ref="form" v-model="formValidado" lazy-validation xs12 sm12 md12>
                <v-layout wrap>
                <v-flex xs12 sm12 md12>
                    <v-text-field v-model="nome" @keypress.enter="setaProximoFoco('txtTelefone')" :rules="[v => !!v || 'Por favor, informe o nome do Aluno!']" label="Nome*" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md6>
                    <v-text-field id="txtTelefone" @keypress.enter="setaProximoFoco('txtCelular')" v-model="telefone" label="telefone" mask="(##) ####-####"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md6>
                    <v-text-field id="txtCelular" @keypress.enter="setaProximoFoco('txtCpf')" v-model="celular" label="celular" mask="(##) #####-####"></v-text-field>
                </v-flex>
                <v-flex xs12 sm8 md8>
                    <v-text-field id="txtCpf" @keypress.enter="setaProximoFoco('txtRg')" v-model="cpf" label="CPF" mask="###.###.###-##"></v-text-field>
                </v-flex>
                <v-flex xs12 sm4 md4>
                    <v-text-field id="txtRg" @keypress.enter="setaProximoFoco('txtEmail')" type="Email" v-model="rg" label="RG" mask="#######-#"></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field v-if="tipoPessoa == 1 || tipoPessoa == 3" id="txtEmail" @keypress.enter="setaProximoFoco('txtAdicional')" v-model="email" label="Email"></v-text-field>
                    <v-text-field v-else id="txtEmail" @keypress.enter="alteraCadastra()" v-model="email" label="Email"></v-text-field>
                </v-flex>
                <v-flex v-if="tipoPessoa == 1">
                    <v-text-field id="txtAdicional" @keypress.enter="alteraCadastra()" v-model="ra" mask="##########" placeholder="Registro Acadêmico (RA)"></v-text-field>
                </v-flex>
                <v-flex v-if="tipoPessoa == 3">
                    <v-text-field id="txtAdicional" @keypress.enter="alteraCadastra()" v-model="idade" label="Idade" mask="###"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12 v-show="exibeMensagemRetorno">
                    <v-alert v-if="!mensagemDeErro" type="success" :value="true">{{MensagemRetorno}}</v-alert>
                    <v-alert v-if="mensagemDeErro" type="error" :value="true">{{MensagemRetorno}}</v-alert>
                </v-flex>
                </v-layout>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" large  @click="resetaAlertas()">Fechar</v-btn>
          <v-btn color="success" :disabled="!formValidado"  @click="alteraCadastra()" large>Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import axios from 'axios'
export default {
    name:"formPadraoPessoa",
    props:['nomeBtn','tituloModal','tipoCadastro','funcaoBtnSalvar'],
    components:{
        
    },
    data(){
        return{
            dialog: false,
            id: '',
            nome: "",
            telefone: "",
            celular: "",
            cpf: "",
            rg: "",
            email: "",
            idade: "",
            ra: "",
            urlApi: "http://localhost:8000/api/",
            formValidado: false,
            token: this.getCookie("tk"),
            tipoPessoa: this.tipoCadastro,
            textoTituloModal: this.tituloModal,
            alteraOuCadastra: 0,
            MensagemRetorno: '',
            exibeMensagemRetorno: false,
            mensagemDeErro: false
        }
    },
    methods:{
        limpaCampos(){
            this.alteraOuCadastra = 0;
            this.nome = null;
            this.celular = '';
            this.telefone = '';
            this.cpf = '';
            this.rg = '';
            this.email = '';
            this.ra = '';
            this.pessoa = '';
            this.idade = '';
            this.textoTituloModal = this.tituloModal;
        },
        salvaPessoa(){
            if(this.formValidado){
                axios({
                    method:"post",                
                    url: this.urlApi+'pessoa',
                    headers:{
                        "Content-type":"application/json",
                        "Authorization":"Bearer "+ this.token 
                        },
                    data:{
                        nome : this.nome,
                        celular:this.celular,
                        telefone:this.telefone,
                        cpf:this.cpf,
                        rg: this.rg,
                        email: this.email,
                        ra:this.ra,
                        idade: this.idade,
                        tipopessoa : this.tipoPessoa
                    }
                }).then(res => {
                    this.MensagemRetorno = res.data.msg;
                    this.exibeMensagemRetorno = true;
                    this.mensagemDeErro = false;
                    this.$emit('atualizaTabela');
                    setTimeout(() => {
                        this.MensagemRetorno = '';
                        this.exibeMensagemRetorno = false;
                        this.dialog = false;
                    }, 3000);
                    
                })
                .catch(res => {
                    this.MensagemRetorno = "Ocorreu uma falha, por favor, tente novamente!";
                    this.mensagemDeErro = true;
                    this.exibeMensagemRetorno = true;
                    // eslint-disable-next-line 
                    console.log(res.response);
                });
            }
        },
        setPessoaAlteracao(pessoa, tCadastro){
            this.dialog = true;
            this.nome = pessoa.nome;
            this.celular = pessoa.celular;
            this.telefone = pessoa.telefone;
            this.cpf = pessoa.cpf;
            this.rg = pessoa.rg;
            this.email = pessoa.email;
            this.ra = pessoa.ra;
            this.idade = pessoa.idade;
            this.tipoPessoa = tCadastro;
            this.id = pessoa.id;
            this.textoTituloModal = "Alteração";
            this.alteraOuCadastra = 1;            
        },
        getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        },
        alteraPessoa(){
            if(this.formValidado){
                axios({
                    method:"post",                
                    url: this.urlApi+'pessoa/altera',
                    headers:{
                        "Content-type":"application/json",
                        "Authorization":"Bearer "+ this.token 
                        },
                    data:{
                        id: this.id,
                        nome : this.nome,
                        celular:this.celular,
                        telefone:this.telefone,
                        cpf:this.cpf,
                        rg: this.rg,
                        email: this.email,
                        ra:this.ra,
                        idade: this.idade,
                    }
                }).then(res => {
                    this.$emit('atualizaTabela');
                    
                    this.MensagemRetorno = res.data.msg;
                    this.exibeMensagemRetorno = true;
                    this.mensagemDeErro = false;
                    setTimeout(() => {
                        this.MensagemRetorno = '';
                        this.exibeMensagemRetorno = false;
                        this.dialog = false;
                    }, 3000);
                    
                })
                .catch(res => {
                    this.MensagemRetorno = "Ocorreu um erro, por favor, tente novamente!";
                    this.mensagemDeErro = true;
                    this.exibeMensagemRetorno = true;
                    // eslint-disable-next-line 
                    console.log(res.data);
                });
            }
        },
        
        setaProximoFoco(proximoElemento){
            document.getElementById(proximoElemento).focus();
        },
        alteraCadastra(){
            if(this.alteraOuCadastra == 1){
                return this.alteraPessoa();
            }else{
                return this.salvaPessoa(this.tipoPessoa);
            }
        },
        resetaAlertas(){
            this.MensagemRetorno = '';
            this.exibeMensagemRetorno = false;
            this.dialog = false;
        }

    },
    
}
</script>
