<template>
  <v-layout justify-end :onload="alteraCadastra">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-btn slot="activator" v-on:click="limpaCampos" large color="primary" dark><v-icon left>gavel</v-icon>Novo Processo</v-btn>
      <v-card>
        <v-card-title>
          <span v-if="alteraOuCadastra == 0" class="headline">Cadastro de processo</span>
          <span v-else class="headline">Alteração de processo</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-form ref="form" v-model="formValidado" lazy-validation xs12 sm12 md12>
                <v-layout wrap>       
                    <v-flex xs12 sm12 md12>                        
                        <v-autocomplete xs12 sm4 md4 label="Estado do processo" v-model="codStatus" :debounce-search="0" :items="estadosDoProcesso" item-text="texto" item-value="id"> </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4 md4>
                        <v-text-field v-model="numeroProcesso" @keypress.enter="setaProximoFoco('txtTelefone')" label="Nº do processo*" required></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm8 md8>
                        <v-autocomplete label="Escolha o tipo de ação" v-model="codAcao" :debounce-search="0" :items="acoes" item-text="acao" item-value="id" no-data-text="Nenhum registro"></v-autocomplete>
                    </v-flex>                
                    <v-flex xs12 sm12 md12>
                            <v-autocomplete :readonly=false v-model="codAluno" :debounce-search="0" :items="alunos" item-text="nome" item-value="id" label="Escolha um aluno" id="slcAlunos" :search-input="buscaAluno" no-data-text="Nenhum registro">
                            <template slot="selection" slot-scope="data">
                            {{data.item.ra}} - {{ data.item.nome}} 
                            </template>
                            <template slot="item" slot-scope="data">
                                <v-list-tile-content>
                                <v-list-tile-title v-html="`${data.item.ra} - ${data.item.nome}`">
                                </v-list-tile-title>
                                </v-list-tile-content>
                            </template>
                            </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm12 md12>
                        <v-autocomplete v-model="codProfessor" :items="professores" :debounce-search="0" item-text="nome" item-value="id" label="Escolha o professor" id="slcProfessor" :search-input="buscaProfessor" no-data-text="Nenhum registro"></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm12 md12>
                        <v-autocomplete v-model="codCliente" :items="clientes" multiple :debounce-search="0" item-text="nome" item-value="id" label="Escolha as partes" id="slcClientes" :search-input="buscaCliente" no-data-text="Nenhum registro"></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm12 md12>
                        <v-textarea label="Observações" auto-grow v-model="observacao">
                        </v-textarea>
                    </v-flex>
                    
                    <v-flex xs12 sm12 md12 v-show="exibeMensagemRetorno">
                        <v-alert v-if="!mensagemDeErro" type="success" :value="true">{{MensagemRetorno}}</v-alert>
                        <v-alert v-if="mensagemDeErro" type="error" :value="true">{{MensagemRetorno}}</v-alert>
                    </v-flex>
                </v-layout>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" large  @click="resetaAlertas()">Fechar</v-btn>
          <v-btn color="success" :disabled="!formValidado"  @click="alteraCadastra()" large>Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import axios from 'axios'

export default {
    name:"formPadraoProcesso",
    components:{
        
    },
    data(){
        return{
            dialog: false,
            estadosDoProcesso: [{texto:'Ativo', id:1},
                                {texto:'Passivo', id:2},
                                {texto:'Finalizado', id:3}],
            codStatus: '',
            id: '',
            alunos: [],
            codAluno: '',
            professores: [],
            codProfessor: '',
            clientes: [],
            codCliente: [],
            acoes: [],
            codAcao: '',
            numeroProcesso : '',
            observacao: '',
            buscaAluno: '',
            buscaProfessor: '',
            buscaCliente: '',
            urlApi: "http://localhost:8000/api/",
            formValidado: false,
            token: document.cookie,
            alteraOuCadastra: 0,
            MensagemRetorno: '',
            exibeMensagemRetorno: false,
            mensagemDeErro: false
        }
    },
    created(){
        this.inicializa();
    },
    methods:{
        inicializa(){            
            var tk = this.token.replace("tk=","");
            axios({
                    method:"get",                
                    url: this.urlApi+'pessoa/especifico',
                    headers:{
                        "Content-type":"application/json",
                        "Authorization":"Bearer "+ tk,
                        tipo: 1
                        }
                }).then(res => {
                    this.alunos = res.data;
                })
                .catch(res => {
                    // eslint-disable-next-line 
                    console.log("ERRO AO CARREGAR ALUNOS\n"+res.data);
                });
                //Traz os professores
            axios({
                method:"get",                
                url: this.urlApi+'pessoa/especifico',
                headers:{
                    "Content-type":"application/json",
                    "Authorization":"Bearer "+ tk,
                    tipo: 2
                    }
            }).then(res => {
                this.professores = res.data;
            })
            .catch(res => {
                // eslint-disable-next-line 
                console.log("ERRO AO CARREGAR PROFESSORES\n"+res.data);
            });
            //Traz os Clientes
            axios({
                method:"get",                
                url: this.urlApi+'pessoa/especifico',
                headers:{
                    "Content-type":"application/json",
                    "Authorization":"Bearer "+ tk,
                    tipo: 3
                    }
            }).then(res => {
                this.clientes = res.data;
            })
            .catch(res => {
                // eslint-disable-next-line 
                console.log("ERRO AO CARREGAR PARTES\n"+res.data);
            });
            //Traz as ações
            axios({
                method:"get",                
                url: this.urlApi+'acao',
                headers:{
                    "Content-type":"application/json",
                    "Authorization":"Bearer "+ tk
                    }
            }).then(res => {
                this.acoes = res.data;
            })
            .catch(res => {
                // eslint-disable-next-line 
                console.log("ERRO AO CARREGAR AÇÕES\n"+res.data);
            });
        },
        limpaCampos(){
            this.alteraOuCadastra = 0;
            this.id = "";
            this.codAcao = "";
            this.codProfessor = "";
            this.codCliente = [];
            this.codAluno = "";
            this.numeroProcesso = "";
            this.observacao = "";
            this.codStatus = "";
        },
        salvaProcesso(){
            var tk = this.token.replace("tk=","");
            if(this.formValidado){
                axios({
                    method:"post",                
                    url: this.urlApi+'processo',
                    headers:{
                        "Content-Type":"application/json",
                        "Authorization":"Bearer "+ tk
                        },
                    data:{
                        codaluno: this.codAluno,
                        codprofessor: this.codProfessor,
                        partes: this.codCliente,
                        numeroprocesso: this.numeroProcesso,
                        observacao: this.observacao,
                        codacao: this.codAcao,
                        status: this.codStatus
                        }
                }).then(res => {
                    this.MensagemRetorno = res.data.msg;
                    this.exibeMensagemRetorno = true;
                    this.mensagemDeErro = false;
                    this.$emit('atualizaTabela');
                    setTimeout(() => {
                        this.MensagemRetorno = '';
                        this.exibeMensagemRetorno = false;
                        this.dialog = false;
                    }, 3000);
                    
                })
                .catch(res => {
                    this.MensagemRetorno = "Ocorreu uma falha, por favor, tente novamente!";
                    this.mensagemDeErro = true;
                    this.exibeMensagemRetorno = true;
                    // eslint-disable-next-line 
                    console.log(res.data);
                });
            }
        },
        setAlteraProcesso(processo){
            this.alteraOuCadastra = 1;
            this.dialog = true;
            this.id = processo.id;
            this.numeroProcesso = processo.numeroprocesso;
            this.codAluno = processo.codaluno;
            this.codProfessor = processo.codprofessor;
            this.codAcao = processo.codacao;
            this.codCliente = [];
            var parts = 0;
            for(var parte in processo.partesxprocesso){
                this.codCliente[parts] = processo.partesxprocesso[parte].partes.id;
                parts++;
            }
            this.codStatus = processo.status;
            this.observacao = processo.observacao;
        },
        getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        },
        alteraProcesso(){
            if(this.formValidado){
                var tk = this.token.replace("tk=","");
                axios({
                    method:"put",                
                    url: this.urlApi+'processo/'+this.id,
                    headers:{
                        "Content-type":"application/json",
                        "Authorization":"Bearer "+ tk 
                        },
                    data:{
                        codacao: this.codAcao,
                        codaluno: this.codAluno,
                        codprofessor: this.codProfessor,
                        partes: this.codCliente,
                        numeroprocesso: this.numeroProcesso,
                        observacao: this.observacao,
                        status: this.codStatus
                    }
                }).then(res => {
                    this.$emit('atualizaTabela');
                    this.MensagemRetorno = res.data.msg;
                    this.exibeMensagemRetorno = true;
                    this.mensagemDeErro = false;
                    setTimeout(() => {
                        this.MensagemRetorno = '';
                        this.exibeMensagemRetorno = false;
                        this.dialog = false;
                    }, 3000);
                    
                })
                .catch(res => {
                    this.MensagemRetorno = "Ocorreu um erro, por favor, tente novamente!";
                    this.mensagemDeErro = true;
                    this.exibeMensagemRetorno = true;
                    // eslint-disable-next-line 
                    console.log(res.data);
                });
            }
        },
        setaProximoFoco(proximoElemento){
            document.getElementById(proximoElemento).focus();
        },
        alteraCadastra(){
            if(this.alteraOuCadastra == 1){
                return this.alteraProcesso();
            }else{
                return this.salvaProcesso();
            }
        },
        resetaAlertas(){
            this.MensagemRetorno = '';
            this.exibeMensagemRetorno = false;
            this.dialog = false;
        }

    },
    
}
</script>

<style scoped>
    .semMarginOuPadding{
        margin-left: 0;
        padding-left: 0;
    }
</style>
