<template>
  <v-layout justify-end :onload="alteraCadastra">
      
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-btn slot="activator" v-on:click="limpaCampos" large color="primary" dark><v-icon left>person_add</v-icon>Novo Usuário</v-btn>
      <v-card>
        <v-card-title>
          <span class="headline">{{textoTituloModal}}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-form ref="form" v-model="formValidado" lazy-validation xs12 sm12 md12>
                <v-layout wrap>
                <v-flex xs12 sm12 md12>
                    <v-text-field v-model="usuario" @keypress.enter="setaProximoFoco('txtEmail')" :rules="[v => !!v || 'Por favor, informe o nome de usuario!']" label="Usuário*" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                    <v-text-field v-model="senha" type="password" @keypress.enter="setaProximoFoco('txtEmail')" :rules="[v => !!v || 'Por favor, informe a senha do usuário!']" label="Senha*" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field id="txtEmail" @keypress.enter="setaProximoFoco('chkAdministrador')" v-model="email" label="Email"></v-text-field>
                </v-flex>                
                <v-flex xs12 class="distancia-checkboxes">
                    <v-checkbox
                    id="chkAdministrador"
                    v-model="administrador"
                    label="O Usuário é um administrador?">
                    </v-checkbox>
                </v-flex>
                <v-flex xs12 class="distancia-checkboxes">
                    <v-checkbox
                    id="chkNovoRegistros"
                    v-model="podeincluir"
                    label="O Usuário pode incluir novos registros?">                    
                    </v-checkbox>
                </v-flex>
                <v-flex xs12 class="distancia-checkboxes">
                    <v-checkbox
                    id="chkAlterarRegistros"
                    v-model="podealterar"
                    label="O Usuário pode alterar registros?">                    
                    </v-checkbox>
                </v-flex>
                <v-flex xs12 class="distancia-checkboxes">
                    <v-checkbox class="aviso"
                    id="chkExcluiRegistros"
                    v-model="podeexcluir"
                    color="red darken-3"
                    label="O Usuário pode excluir e excluir registros?">                    
                    </v-checkbox>
                </v-flex>
                <v-flex xs12 sm12 md12 v-show="exibeMensagemRetorno">
                    <v-alert v-if="!mensagemDeErro" type="success" :value="true">{{MensagemRetorno}}</v-alert>
                    <v-alert v-if="mensagemDeErro" type="error" :value="true">{{MensagemRetorno}}</v-alert>
                </v-flex>
                </v-layout>
            </v-form>
          </v-container>
          <small>As permissões possuem uma hierarquia<br>
          Sendo a mais baixa a de incluir (não pode alterar nem excluir) e a mais alta excluir (pode incluir e alterar também)</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" large  @click="resetaAlertas()">Fechar</v-btn>
          <v-btn color="success" :disabled="!formValidado"  @click="alteraCadastra()" large>Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import axios from 'axios'
export default {
    name:"formUsuarios",
    props:['tituloModal'],
    components:{
        
    },
    data(){
        return{
            dialog: false,
            id: '',
            usuario: "",
            email: "",
            senha:"",
            administrador:false,
            podealterar:false,
            podeincluir:false,
            podeexcluir:false,
            urlApi: "http://localhost:8000/api/",
            formValidado: false,
            token: this.getCookie("tk"),
            textoTituloModal: this.tituloModal,
            alteraOuCadastra: 0,
            MensagemRetorno: '',
            exibeMensagemRetorno: false,
            mensagemDeErro: false
        }
    },
    methods:{
        limpaCampos(){
            this.alteraOuCadastra = 0;
            this.usuario = "";
            this.senha = "";
            this.email = '';
            this.administrador = false;
            this.podealterar = false;
            this.podeincluir = false;
            this.textoTituloModal = this.tituloModal;
        },
        salvaUsuario(){
            if(this.formValidado){
                axios({
                    method:"post",                
                    url: this.urlApi+'usuario',
                    headers:{
                        "Content-type":"application/json",
                        "Authorization":"Bearer "+ this.token 
                        },
                    data:{
                        usuario : this.usuario,
                        senha: this.senha,
                        email: this.email,
                        administrador: this.administrador,
                        podealterar: this.podealterar,
                        podeincluir: this.podeincluir,
                        podeexcluir: this.podeexcluir
                    }
                }).then(res => {
                    this.MensagemRetorno = res.data.msg;
                    this.exibeMensagemRetorno = true;
                    this.mensagemDeErro = false;
                    this.$emit('atualizaTabela');
                    setTimeout(() => {
                        this.MensagemRetorno = '';
                        this.exibeMensagemRetorno = false;
                        this.dialog = false;
                    }, 3000);
                    
                })
                .catch(res => {
                    this.MensagemRetorno = "Ocorreu uma falha, por favor, tente novamente!";
                    this.mensagemDeErro = true;
                    this.exibeMensagemRetorno = true;
                    // eslint-disable-next-line 
                    console.log(res.response);
                });
            }
        },
        setUsuarioAlteracao(usuario){
            this.dialog = true;
            this.usuario = usuario.usuario;
            this.email = usuario.email;
            this.id = usuario.id;          
            if(usuario.administrador == 1)  {
                this.administrador = true;
            }else{
                this.administrador = false;
            }
            if(usuario.podealterar == 1)  {
                this.podealterar = true;
            }else{
                this.podealterar = false;
            }
            if(usuario.podeincluir == 1)  {
                this.podeincluir = true;
            }else{
                this.podeincluir = false;
            }
            if(usuario.podeexcluir == 1){
                this.podeexcluir = true;
            }else{
                this.podeexcluir = false;
            }
            this.textoTituloModal = "Alteração";
            this.alteraOuCadastra = 1;
        },
        getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        },
        alteraUsuario(){
            if(this.formValidado){
                axios({
                    method:"put",                
                    url: this.urlApi+'usuario/'+this.id,
                    headers:{
                        "Content-type":"application/json",
                        "Authorization":"Bearer "+ this.token 
                        },
                    data:{
                        id: this.id,
                        usuario : this.usuario,
                        senha: this.senha,
                        email: this.email,
                        administrador: this.administrador,
                        podealterar: this.podealterar,
                        podeincluir: this.podeincluir,
                        podeexcluir: this.podeexcluir
                    }
                }).then(res => {
                    this.$emit('atualizaTabela');
                    
                    this.MensagemRetorno = res.data.msg;
                    this.exibeMensagemRetorno = true;
                    this.mensagemDeErro = false;
                    setTimeout(() => {
                        this.MensagemRetorno = '';
                        this.exibeMensagemRetorno = false;
                        this.dialog = false;
                    }, 3000);
                    
                })
                .catch(res => {
                    this.MensagemRetorno = "Ocorreu um erro, por favor, tente novamente!";
                    this.mensagemDeErro = true;
                    this.exibeMensagemRetorno = true;
                    // eslint-disable-next-line 
                    console.log(res.data);
                });
            }
        },
        setaProximoFoco(proximoElemento){
            document.getElementById(proximoElemento).focus();
        },
        alteraCadastra(){
            if(this.alteraOuCadastra == 1){
                return this.alteraUsuario();
            }else{
                return this.salvaUsuario();
            }
        },
        resetaAlertas(){
            this.MensagemRetorno = '';
            this.exibeMensagemRetorno = false;
            this.dialog = false;
        }

    },
    
}
</script>


<style scoped>
    .aviso{
        color: red;
    }
    .distancia-checkboxes{
        margin-top: -15px;
        margin-bottom: -15px;        
    }

</style>
