<template>
  <v-layout justify-end :onload="alteraCadastra">
      
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-btn slot="activator" v-on:click="limpaCampos" large color="primary" dark><v-icon left>description</v-icon>Nova Ação</v-btn>
      <v-card>
        <v-card-title>
          <span class="headline">{{textoTituloModal}}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-form ref="form" v-model="formValidado" lazy-validation xs12 sm12 md12>
                <v-layout wrap>
                <v-flex xs12 sm12 md12>
                    <v-text-field v-model="acao" @keypress.enter="setaProximoFoco('txtDescricao')" :rules="[v => !!v || 'Por favor, informe o nome da Ação!']" label="Ação*" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                    <v-textarea id="txtDescricao" v-model="descricao" @keypress.enter="alteraCadastra()"  rows="5" auto-grow label="Descrição" required></v-textarea>
                </v-flex>
                <v-flex xs12 sm12 md12 v-show="exibeMensagemRetorno">
                    <v-alert v-if="!mensagemDeErro" type="success" :value="true">{{MensagemRetorno}}</v-alert>
                    <v-alert v-if="mensagemDeErro" type="error" :value="true">{{MensagemRetorno}}</v-alert>
                </v-flex>
                </v-layout>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" large  @click="resetaAlertas()">Fechar</v-btn>
          <v-btn color="success" :disabled="!formValidado"  @click="alteraCadastra()" large>Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import axios from 'axios'
export default {
    name:"formUsuarios",
    props:['tituloModal'],
    components:{
        
    },
    data(){
        return{
            dialog: false,
            id: '',
            acao: '',
            descricao: '',
            urlApi: "http://localhost:8000/api/",
            formValidado: false,
            token: this.getCookie("tk"),
            textoTituloModal: this.tituloModal,
            alteraOuCadastra: 0,
            MensagemRetorno: '',
            exibeMensagemRetorno: false,
            mensagemDeErro: false
        }
    },
    methods:{
        limpaCampos(){
            this.alteraOuCadastra = 0;
            this.id = '';
            this.acao = '';
            this.descricao = '';
            this.textoTituloModal = this.tituloModal;
        },
        salvaAcao(){
            if(this.formValidado){
                axios({
                    method:"post",                
                    url: this.urlApi+'acao',
                    headers:{
                        "Content-type":"application/json",
                        "Authorization":"Bearer "+ this.token 
                        },
                    data:{
                        acao: this.acao,
                        descricao: this.descricao
                    }
                }).then(res => {
                    this.MensagemRetorno = res.data.msg;
                    this.exibeMensagemRetorno = true;
                    this.mensagemDeErro = false;
                    this.$emit('atualizaTabela');
                    setTimeout(() => {
                        this.MensagemRetorno = '';
                        this.exibeMensagemRetorno = false;
                        this.dialog = false;
                    }, 3000);
                    
                })
                .catch(res => {
                    this.MensagemRetorno = "Ocorreu uma falha, por favor, tente novamente!";
                    this.mensagemDeErro = true;
                    this.exibeMensagemRetorno = true;
                    // eslint-disable-next-line 
                    console.log(res.response);
                });
            }
        },
        setAcaoAlteracao(acao){
            this.dialog = true;
            this.acao = acao.acao;
            this.descricao = acao.descricao;
            this.id = acao.id;
            this.textoTituloModal = "Alteração";
            this.alteraOuCadastra = 1;
        },
        getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        },
        alteraAcao(){
            if(this.formValidado){
                axios({
                    method:"put",                
                    url: this.urlApi+'acao/'+this.id,
                    headers:{
                        "Content-type":"application/json",
                        "Authorization":"Bearer "+ this.token 
                        },
                    data:{
                        acao: this.acao,
                        descricao: this.descricao
                    }
                }).then(res => {
                    this.$emit('atualizaTabela');
                    
                    this.MensagemRetorno = res.data.msg;
                    this.exibeMensagemRetorno = true;
                    this.mensagemDeErro = false;
                    setTimeout(() => {
                        this.MensagemRetorno = '';
                        this.exibeMensagemRetorno = false;
                        this.dialog = false;
                    }, 3000);
                    
                })
                .catch(res => {
                    this.MensagemRetorno = "Ocorreu um erro, por favor, tente novamente!";
                    this.mensagemDeErro = true;
                    this.exibeMensagemRetorno = true;
                    // eslint-disable-next-line 
                    console.log(res.data);
                });
            }
        },
        setaProximoFoco(proximoElemento){
            document.getElementById(proximoElemento).focus();
        },
        alteraCadastra(){
            if(this.alteraOuCadastra == 1){
                return this.alteraAcao();
            }else{
                return this.salvaAcao();
            }
        },
        resetaAlertas(){
            this.MensagemRetorno = '';
            this.exibeMensagemRetorno = false;
            this.dialog = false;
        }

    },
    
}
</script>


<style scoped>
    .aviso{
        color: red;
    }
    .distancia-checkboxes{
        margin-top: -15px;
        margin-bottom: -15px;        
    }

</style>
