<template>
  <div class="distanciaTopo">
    <h1 align="center">Usuários</h1>
    <v-layout justify-center>
        <v-flex md10 xs12 sm12>        
            <v-toolbar flat color="white">
            <v-divider
                class="mx-2"
                inset
                vertical
            ></v-divider>
            <v-spacer></v-spacer>             
            <v-flex xs8 sm8 md8 lg9>
              <v-text-field v-model="pesquisa" append-icon="search" label="Buscar" single-line hide-details/>
            </v-flex>
            <v-flex xs4 sm4 md4 lg3>
              <FormPadraoUsuario class="hidden-sm-and-down" @atualizaTabela="atualizaTabela" ref="formPadraoUsuario" v-show="administrador"/>
              <FormPadraoUsuario class="hidden-sm-and-up" @atualizaTabela="atualizaTabela" ref="formPadraoUsuario" v-show="administrador"/>
            </v-flex>
            </v-toolbar >
            <v-data-table
            :headers="headers"
            :items="Usuarios"
            class="elevation-1"
            :search="pesquisa"
            :pagination.sync="paginacao"
            rows-per-page-text="Itens por página"
            no-data-text="Ainda não há ninguém cadastrado!"
            no-results-text="Nenhum registro encontrado"

            >
            <template slot="items" slot-scope="props">
                <td>{{props.item.id}}</td>
                <td>{{ props.item.usuario }}</td>
                <td >{{ props.item.email }}</td>
                <td class="justify-center layout px-0">
                <v-icon v-show="administrador"
                    small
                    class="mr-2"
                    @click="editItem(props.item)"
                >
                    edit
                </v-icon>
                <v-icon
                    v-show="administrador"
                    small
                    @click="deleteItem(props.item)"
                >
                    delete
                </v-icon>
                </td>
            </template>
            <template slot="no-data">
            </template>
            </v-data-table>
        </v-flex>
    </v-layout>
  </div>
</template>
<script>
import FormPadraoUsuario from '@/components/componentes/FormUsuarios'

import axios from 'axios'
  export default {
    name:"TabelaUsuario",
    data: () => ({
      dialog: false,
      pesquisa: "",
      headers: [
        { text: 'ID', align: 'left', sortable: true, value: 'id'},
        { text: 'usuario', align: 'left', sortable: true, value: 'nome'},
        { text: 'email', align:'left', value: 'telefone', sortable: true },
        { text: 'Ações', align:'center', value: 'acoes', sortable: false },
      ],
      Usuarios: [],
      paginacao:{
          rowsPerPage:25
      },
      urlApi:"http://localhost:8000/api/",
      token: document.cookie,
      administrador: false,
    }),
    components:{
        FormPadraoUsuario
    },

    created () {
      this.initialize(),
      this.verificaSeEAdministrador()
    },

    methods: {
      atualizaTabela(){
        this.initialize();
      },
      initialize () {
        var token = this.token.replace("tk=","");
        axios({
            method:'get',
            url: this.urlApi+'usuario',
            headers:{
                'Content-Type':'application/json',
                'Authorization':'Bearer '+token,
            },
        }).then(res => {
            this.Usuarios = res.data;
        })
        .catch(res => {
            alert('Não foi possivel carregar os usuários, verifique o console do navegador');
            // eslint-disable-next-line 
            console.log(res.data);
        })
      },
      retornaAdministrador(){
          return this.administrador;
      },
      editItem (item) {
        // eslint-disable-next-line 
        //console.log(item);
        this.$refs.formPadraoUsuario.setUsuarioAlteracao(item);
      },
      deleteItem (item) {
        const index = this.Usuarios.indexOf(item)
        this.token = this.token.replace("tk=","");
        if(confirm('Você tem certeza que deseja deletar isso?')){
          axios({
            method:'delete',
            url: this.urlApi+'usuario/'+item.id,
            headers:{
                'Authorization':'Bearer '+this.token,
                'idPessoa': item.id
            },
          }).then(res => {
              alert(res.data.msg);
              this.Usuarios.splice(index, 1);
          })
          .catch(res => {
              alert('Não foi possivel excluir o usuário, consulte o console do navegador para mais informações');
              // eslint-disable-next-line 
              console.log(res.data);
          })
          
        } 
      },
      verificaSeEAdministrador(){
          this.token = this.token.replace("tk=","");
            axios({
                method:'POST',
                url: this.urlApi+'authadm',
                headers:{
                    'Content-type':'application/json',
                    'Authorization': 'Bearer '+this.token
                },
                data:{                    
                    token: this.token,                    
                }
            }).then(res => {
                if(res.data == 1){
                    this.administrador = true;
                    return true;
                }else{
                    this.administrador = false;
                    return false;
                }
            })
            .catch(res => {
                // eslint-disable-next-line
                console.log('Não foi possivel verificar se o usuário é um administrador\n'+res.data);
                return false;
            });
        },
    },
  }
</script>

<style scoped>

</style>
