<template>
  <div class="distanciaTopo">
    <h1 align="center">{{tituloTabela}}</h1>
    <v-layout justify-center>
        <v-flex md10 xs12 sm12>        
            <v-toolbar flat color="white">
            <v-divider
                class="mx-2"
                inset
                vertical
            ></v-divider>
            <v-spacer></v-spacer>             
            <v-flex xs8 sm8 md8 lg9>
              <v-text-field v-model="pesquisa" append-icon="search" label="Buscar" single-line hide-details/>
            </v-flex>
            <v-flex xs3 sm3 md3 lg3>
              <FormPadrao @atualizaTabela="atualizaTabela" ref="formPadraoPessoa" v-show="administrador || podeincluir || podealterar || podeexcluir" :nomeBtn="tituloBotaoCadastro" :tituloModal="tituloModalCadastro" :tipoCadastro="tipoPessoa" funcaoBtnSalvar="this.salvaPessoa(tipoPessoa)"/>
            </v-flex>
            </v-toolbar >
            <v-data-table
            :headers="headers"
            :items="Pessoas"
            class="elevation-1"
            :search="pesquisa"
            :pagination.sync="paginacao"
            rows-per-page-text="Itens por página"
            no-data-text="Ainda não há ninguém cadastrado!"
            no-results-text="Nenhum registro encontrado"

            >
            <template slot="items" slot-scope="props">
                <td>{{props.item.id}}</td>
                <td>{{ props.item.nome }}</td>
                <td >{{ props.item.telefone }}</td>
                <td >{{ props.item.celular }}</td>
                <td >{{ props.item.cpf }}</td>
                <td >{{ props.item.rg }}</td>
                <td >{{ props.item.email }}</td>
                <td class="justify-center layout px-0">
                <v-icon v-show="administrador || podealterar || podeexcluir"
                    small
                    class="mr-2"
                    @click="editItem(props.item)"
                >
                    edit
                </v-icon>
                <v-icon
                    v-show="administrador || podeexcluir"
                    small
                    @click="deleteItem(props.item)"
                >
                    delete
                </v-icon>
                </td>
            </template>
            <template slot="no-data">
            </template>
            </v-data-table>
        </v-flex>
    </v-layout>
  </div>
</template>
<script>
import FormPadrao from './FormPadraoPessoa'

import axios from 'axios'
  export default {
    props:['tituloTabela','tipoPessoa','tituloBotaoCadastro','tituloModalCadastro'],
    data: () => ({
      dialog: false,
      pesquisa: "",
      headers: [
        { text: 'ID', align: 'left', sortable: true, value: 'id'},
        { text: 'Nome', align: 'left', sortable: true, value: 'nome'},
        { text: 'Telefone', align:'left', value: 'telefone', sortable: false },
        { text: 'Celular', align:'left', value: 'celular', sortable: false },
        { text: 'CPF', align:'left', value: 'cpf', sortable: false },
        { text: 'RG', align:'left', value: 'rg', sortable: false },
        { text: 'Email', align:'left', value: 'email', sortable: false },
        { text: 'Ações', align:'left', value: 'acoes', sortable: false}
      ],
      Pessoas: [],
      paginacao:{
          rowsPerPage:25
      },
      alteracao:false,
      urlApi:"http://localhost:8000/api/",
      token: document.cookie,
      administrador: false,
      podealterar:false,
      podeincluir:false,
      podeexcluir:false
    }),
    components:{
        FormPadrao
    },
    /*watch: {
      dialog (val) {
        val || this.close()
      }
    },*/

    created () {
      this.initialize(),
      this.verificaSeEAdministrador(),
      this.verificaPermissoes()
    },

    methods: {
      atualizaTabela(){
        this.initialize();
      },
      initialize () {
        var token = this.token.replace("tk=","");
        axios({
            method:'get',
            url: this.urlApi+'pessoa/especifico',
            headers:{
                'Content-Type':'application/json',
                'Authorization':'Bearer '+token,
                'tipo': this.tipoPessoa
            },
        }).then(res => {
            this.Pessoas = res.data;
        })
        .catch(res => {
            alert('Não foi possivel carregar as pessoas dessa seção');
            // eslint-disable-next-line 
            console.log(res.data);
        })
      },
      retornaAdministrador(){
          return this.administrador;
      },
      editItem (item) {
        this.$refs.formPadraoPessoa.setPessoaAlteracao(item, this.tipoPessoa);
        this.alteracao = true;
      },
      deleteItem (item) {
        const index = this.Pessoas.indexOf(item)
        this.token = this.token.replace("tk=","");
        if(confirm('Você tem certeza que deseja deletar isso?')){
          axios({
            method:'get',
            url: this.urlApi+'pessoa/desativa',
            headers:{
                'Authorization':'Bearer '+this.token,
                'idpessoa': item.id
            },
          }).then(res => {
              alert(res.data.msg);
              this.Pessoas.splice(index, 1);
          })
          .catch(res => {
              alert(res.data.msg);
          })
        } 
      },
      verificaSeEAdministrador(){
          this.token = this.token.replace("tk=","");
            axios({
                method:'POST',
                url: this.urlApi+'authadm',
                headers:{
                    'Content-type':'application/json',
                    'Authorization': 'Bearer '+this.token
                },
                data:{                    
                    token: this.token,                    
                }
            }).then(res => {
                if(res.data == 1){
                    this.administrador = true;
                    return true;
                }else{
                    this.administrador = false;
                    return false;
                }
            })
            .catch(res => {
                // eslint-disable-next-line 
                console.log('Não foi possivel verificar se o usuário é um administrador\n'+res.data);
                return false;
            });
        },
        verificaPermissoes(){
          this.token = this.token.replace("tk=","");
            axios({
                method:'POST',
                url: this.urlApi+'usuario/permissoes',
                headers:{
                    'Content-type':'application/json',
                    'Authorization': 'Bearer '+this.token
                },
                data:{                    
                    token: this.token,                    
                }
            }).then(res => {
                if(res.data.alterar == 1){
                    this.podealterar = true;
                }else{
                  this.podealterar = false;
                }
                if(res.data.incluir == 1){
                  this.podeincluir = true;
                }else{
                  this.podeincluir = false;
                }
                if(res.data.excluir == 1){
                  this.podeexcluir = true;
                }else{
                  this.podeexcluir = false;
                }
                
            })
            .catch(res => {
                // eslint-disable-next-line 
                console.log('Não foi possivel verificar as permissões desse usuário\n'+res.data);
                return false;
            });
        },
    },
  }
</script>

<style scoped>

</style>
