<template>
  <div class="distanciaTopo">
    <h1 align="center">Processos</h1>
    <v-layout justify-center>
        <v-flex md10 xs12 sm12>        
            <v-toolbar flat color="white">
            <v-divider
                class="mx-2"
                inset
                vertical
            ></v-divider>
            <v-spacer></v-spacer>             
            <v-flex xs8 sm8 md8 lg9>
              <v-text-field v-model="pesquisa" append-icon="search" label="Buscar" single-line hide-details/>
            </v-flex>
            <v-flex xs4 sm4 md4 lg3>
              <FormPadraoProcesso @atualizaTabela="atualizaTabela" ref="formPadraoProcesso" v-show="administrador || podeincluir || podealterar || podeexcluir"/>
            </v-flex>
            </v-toolbar >
            <v-data-table
            :expand="expande"
            :headers="headers"
            :items="Processos"
            class="elevation-1"
            :search="pesquisa"
            :pagination.sync="paginacao"
            rows-per-page-text="Itens por página"
            no-data-text="Ainda não há processo cadastrado!"
            no-results-text="Nenhum registro encontrado">
            <template slot="items" slot-scope="props">
                <td>{{props.item.id}}</td>
                <td>{{ props.item.numeroprocesso }}</td>
                <td >{{ props.item.aluno.nome }}</td>
                <td >{{ props.item.professor.nome }}</td>
                <td>{{props.item.acao.acao}}</td>
                <td v-if="props.item.status == 1" class="ativo">Ativo</td>
                <td v-else-if="props.item.status == 2" class="passivo">Passivo</td>
                <td v-else-if="props.item.status == 3" >Finalizado</td>
                <td class="justify-center layout px-0">
                <v-icon v-show="administrador || podealterar || podeexcluir"
                    small
                    class="mr-2"
                    @click="editItem(props.item)"
                >
                    edit
                </v-icon>
                <v-icon
                    v-show="administrador || podeexcluir"
                    small
                    @click="deleteItem(props.item)"
                >
                    delete
                </v-icon>
                <v-icon v-if="props.expanded"
                  @click="props.expanded = !props.expanded"                   
                >expand_less
                </v-icon>
                <v-icon v-else
                  @click="props.expanded = !props.expanded"                   
                >expand_more
                </v-icon>
                </td>
              
            </template>
            <template slot="no-data">
            </template>
            <template slot="expand" slot-scope="props" >
            <v-card-text >
              <v-flex xs12 sm12 md12>
                <h3>Partes Envolvidas</h3>
                <div v-for="parte in props.item.partesxprocesso" v-bind:key="parte.partes.id" class="larguraMaxima">
                  <b>Nome.:</b> {{parte.partes.nome}} | <b>Telefone.:</b> {{parte.partes.telefone}} | <b>Celular.:</b> {{parte.partes.celular}} | 
                  <b>CPF.:</b> {{parte.partes.cpf}} <b>Idade.:</b> {{parte.partes.idade}}
                </div>
              </v-flex>
            </v-card-text>
          </template>
          </v-data-table>
        </v-flex>
    </v-layout>
  </div>
</template>
<script>
import FormPadraoProcesso from './FormPadraoProcesso'

import axios from 'axios'
  export default {
    data: () => ({
      dialog: false,
      pesquisa: "",
      expande: false,
      headers: [
        { text: 'ID', align: 'left', sortable: true, value: 'id'},
        { text: 'Nº Processo', align: 'left', sortable: true, value: 'numeroprocesso'},
        { text: 'Aluno', align:'left', value: 'aluno.nome', sortable: true },
        { text: 'Professor', align:'left', value: 'professor.nome', sortable: true },
        { text: 'Tipo de Ação', align:'left', value:'acao', sortable: true},
        { text: 'Status', align:'left', value:'status', sortable: true},
        { text: 'Ações', align:'center', sortable: false}
      ],
      Processos: [],
      paginacao:{
          rowsPerPage:10
      },
      alteracao:false,
      urlApi:"http://localhost:8000/api/",
      token: document.cookie,
      administrador: false,
      podealterar:false,
      podeincluir:false,
      podeexcluir:false
    }),
    components:{
        FormPadraoProcesso
    },

    created () {
      this.initialize(),
      this.verificaAdministrador(),
      this.verificaPermissoes()
    },

    methods: {
      atualizaTabela(){
        this.initialize();
      },
      initialize () {
        var tk = this.token.replace("tk=","");
        axios({
            method:'get',
            url: this.urlApi+'processo',
            headers:{
                'Content-Type':'application/json',
                'Authorization':'Bearer '+tk
            },
        }).then(res => {
            this.Processos = res.data;
        })
        .catch(res => {
            alert('Não foi possivel carregar os processos\nPor favor, chame o setor de densenvolvimento');
            // eslint-disable-next-line 
            console.log(res.data);
        })
      },
      retornaAdministrador(){
          return this.administrador;
      },
      editItem (item) {
        this.$refs.formPadraoProcesso.setAlteraProcesso(item);
        this.alteracao = true;
      },
      deleteItem (item) {
        const index = this.Processos.indexOf(item)
        var tk = this.token.replace("tk=","");
        if(confirm('Você tem certeza que deseja apagar esse processo?')){
          axios({
            method:'delete',
            url: this.urlApi+'processo/'+item.id,
            headers:{
                'Content-Type':'application/json',
                'Authorization':'Bearer '+tk
            },
          }).then(res => {
              alert(res.data.msg);
              this.Processos.splice(index, 1);
          })
          .catch(res => {
              alert(res.data.msg);
          })
          
        } 
      },
      verificaAdministrador(){
          this.token = this.token.replace("tk=","");
            axios({
                method:'POST',
                url: this.urlApi+'authadm',
                headers:{
                    'Content-type':'application/json',
                    'Authorization': 'Bearer '+this.token
                },
                data:{
                    token: this.token,
                }
            }).then(res => {
                if(res.data == 1){
                    this.administrador = true;
                    return true;
                }else{
                    this.administrador = false;
                    return false;
                }
            })
            .catch(res => {
                // eslint-disable-next-line 
                console.log('Não foi possivel verificar se esse usuário é um administrador\n'+res.data);
                return false;
            });
        },
        verificaPermissoes(){
          this.token = this.token.replace("tk=","");
            axios({
                method:'POST',
                url: this.urlApi+'usuario/permissoes',
                headers:{
                    'Content-type':'application/json',
                    'Authorization': 'Bearer '+this.token
                },
                data:{                    
                    token: this.token,                    
                }
            }).then(res => {
                if(res.data.alterar == 1){
                    this.podealterar = true;
                }else{
                  this.podealterar = false;
                }
                if(res.data.incluir == 1){
                  this.podeincluir = true;
                }else{
                  this.podeincluir = false;
                }
                if(res.data.excluir == 1){
                  this.podeexcluir = true;
                }else{
                  this.podeexcluir = false;
                }
            })
            .catch(res => {
                // eslint-disable-next-line 
                console.log('Não foi possivel verificar as permisssões desse usuário\n'+res.data);
                return false;
            });
        },
    },
  }
</script>
<style scoped>
  .ativo{
    color: green;
  }
  .passivo{
    color: red;
  }
  .larguraMaxima{
    border-bottom: 1px solid #ddd;
    width: inherit;    
  }
  .larguraMaxima:first-child{
    border-top: 1px solid #ddd;
  }
</style>
