<template>
    <div :onload="verificaSeEstaLogado()">
    <v-navigation-drawer fixed temporary v-model="sideNav">
        <v-list>
            <v-list-tile v-for="item in menuItens"
            :key="item.titulo"
            router 
            :to="item.url">
            <v-list-tile-action>
                <v-icon>{{item.icone}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                {{item.titulo}}
            </v-list-tile-content>  
            </v-list-tile>
            <v-list-tile v-on:click="abreAdministrador" v-show="administrador">
                <v-list-tile-action >
                    <v-icon>build</v-icon>
                </v-list-tile-action>           
                <v-list-tile-content>
                    Administrador
                </v-list-tile-content>     
            </v-list-tile>
            <v-list-tile @click="dialog = true">
                <v-list-tile-action >
                    <v-icon>exit_to_app</v-icon>
                </v-list-tile-action>           
                <v-list-tile-content>
                    Sair
                </v-list-tile-content>     
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
    <v-toolbar dark color="corVerdeFasipe">
        <v-toolbar-side-icon @click.native.stop="sideNav = !sideNav"
        class="hidden-md-and-up"></v-toolbar-side-icon>
        <v-toolbar-title light class="white--text">
            <span>NPJ - Fasipe</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn flat
            v-for="item in menuItens"
            :key="item.titulo"
            router :to="item.url"
            :click="item.click"><v-icon left>{{item.icone}}</v-icon>{{item.titulo}}</v-btn>
            <v-btn flat v-show="administrador" v-on:click="abreAdministrador"><v-icon left>build</v-icon>Administrador</v-btn>
            <v-btn flat @click="dialog = true">
            <v-icon left>
            exit_to_app
            </v-icon>
            Sair
            </v-btn>
            <v-dialog
            v-model="dialog"
            max-width="290">
            <v-card>
                <v-card-title class="headline">Confirmação de Saida</v-card-title>
                <v-card-text>
                Deseja realmente sair?
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="red darken-1"            
                    @click="dialog = false">
                    Não
                </v-btn>
                <v-btn
                    color="green darken-1"            
                    @click="logout()">
                    Sim
                </v-btn>
                </v-card-actions>
            </v-card>
            </v-dialog>
        </v-toolbar-items>
    </v-toolbar>
    </div>
</template>


<script>
import axios from 'axios'

export default {
    name:'Cabecalho',
    data(){
        return{
            sideNav: false,
            dialog: false,
            menuItens:[
                {url:'/home', icone:'home', titulo:'Home'},
                {url:'/alunos', icone:'school', titulo:'Alunos' },
                {url:'/professores', icone:'face', titulo:'Professores' },
                {url:'/clientes', icone:'exit_to_app', titulo:'Clientes' },
                {url:'/acoes', icone:'list_alt', titulo:'Ações' },
                {url:'/processos', icone:'gavel', titulo:'Processos' },
                
            ],
            administrador:false,
            token : this.getCookie("tk"),
            urlApi: 'http://localhost:8000/api/',
        }
    },
    methods: {
        abreAdministrador(){
            this.$router.push('/administrador')
        },
        verificaSeEstaLogado(){
            axios({
                method:'POST',
                url:this.urlApi+'auth/',
                header:{
                    'Content-type':'application/json'
                },
                data:{                    
                    token: ""+this.token,                    
                }
            }).then(res => {
                if(!res.data.Autenticado){
                    alert('Sessão expirada, por favor, entre novamente!');
                    this.$router.push('/');
                }
            })
            .catch(res => {
                alert('Sessão expirada, por favor, entre novamente!')
                // eslint-disable-next-line 
                console.log(res.data);
                this.$router.push('/');
            });
        },
        verificaSeEAdministrador(){
          this.token = this.token.replace("tk=","");
            axios({
                method:'POST',
                url: this.urlApi+'authadm',
                headers:{
                    'Content-type':'application/json',
                    'Authorization': 'Bearer '+this.token
                },
                data:{                    
                    token: this.token,                    
                }
            }).then(res => {
                if(res.data == 1){
                    this.administrador = true;
                    return true;
                }else{
                    this.administrador = false;
                    return false;
                }
            })
            .catch(res => {
                // eslint-disable-next-line 
                console.log('Não foi possivel verificar se o usuário é um administrador\n'+res.data);
                return false;
            });
        },
        logout(){
            document.cookie = "tk=; expires=Thu, 01 Jan 1970 00:00:01 GMT;";
            this.$router.push('/');
        },
        getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    },
    created(){
        this.verificaSeEAdministrador();
    }
}
</script>


<style scoped>
.corVerdeFasipe{
    background-color: #00913D;
}
</style>
