<template>
    <div class="fundo-footer mt-2 footer">
        <h3>Fasipe</h3>
    </div>
</template>


<script>
export default {
    name:"rodape"
}
</script>


<style scoped>    
    .fundo-footer{
        background: seagreen;
        color: white;
        text-align: center;
        height: 100px;
    }
    .footer{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
</style>
