<template>
    <div>
        <Cabecalho />
        <TabelaPadraoAcao />
    </div>
</template>


<script>
import Cabecalho from '@/components/layout/Cabecalho'
import TabelaPadraoAcao from '@/components/componentes/TabelaPadraoAcoes'

export default {
    name:"processos",
    components:{
        Cabecalho,
        TabelaPadraoAcao
    }
}
</script>

<style scoped>

</style>
