<template>
    <div>
        <Cabecalho />
        <TabelaPadraoUsuario />
    </div>
</template>

<script>
import Cabecalho from '@/components/layout/Cabecalho'
import TabelaPadraoUsuario from '@/components/componentes/TabelaUsuarios'
export default {
    name:'Administrador',
    components:{
        Cabecalho,
        TabelaPadraoUsuario
    }
}
</script>

<style scoped>

</style>
