<template>
    <div>
        <Cabecalho />
        <TabelaPadrao tituloTabela="Alunos" tipoPessoa='1' tituloBotaoCadastro="Adicionar Aluno" tituloModalCadastro="Cadastro de Aluno"/>
    </div>
</template>

<script>
import Cabecalho from '@/components/layout/Cabecalho'
import TabelaPadrao from '@/components/componentes/TabelaPadraoPessoa'
export default {
    name:"alunos",
    components:{
        Cabecalho,
        TabelaPadrao
    },
    data(){
        return{
            dialog: false
        }
    }
}
</script>

<style scoped>

</style>
