<template>
    <div>
        <Cabecalho />
        <TabelaPadrao tituloTabela="Clientes" tipoPessoa='3' tituloBotaoCadastro="Adicionar Cliente" tituloModalCadastro="Novo Cliente"/>
    </div>
</template>

<script>
import Cabecalho from '@/components/layout/Cabecalho'

import TabelaPadrao from '@/components/componentes/TabelaPadraoPessoa'
export default {
    name:"clientes",
    components:{
        Cabecalho,
        TabelaPadrao
    },
    data(){
        return{
            dialog: false
        }
    }
}
</script>

<style scoped>

</style>
