<template>
  <div>
    <Cabecalho />
    <div class="d-flex">
      <BaloesInformativos v-for="ba in baloes" :nomeBalao="ba.titulo" :key="ba.id" :tipoProcesso="ba.id" :classe="ba.classe"/>
    </div>
  </div>
</template>

<script>
import Cabecalho from '../components/layout/Cabecalho'
import BaloesInformativos from '@/components/componentes/BaloesInformativos'
  export default {
    components: {
      Cabecalho,
      BaloesInformativos
    },
    name:'HomePage',
    data(){
      return{
        baloes:[
          {titulo:'Processos Ativos', id: 1, classe:'ativos' },
          {titulo:'Processos Passivos', id:2, classe:'passivos' },
          {titulo:'Processos Finalizados', id:3, classe:'finalizados' },
        ]
      }
    }
  }
</script>
