//https://blog.especializati.com.br/como-fazer-requisicoes-ajax-com-o-axios/
<template>    
    <v-form
    ref="form"
    v-model="valido"
    lazy-validation>
        <v-container fluid>
            <v-layout justify-center>
                <v-flex xs12 sm12 md3 >
                    <img class="logo" v-bind:src="require('@/img/logotopo.png')">
                    <v-text-field
                    v-model="usuario"
                    name="txtUsuario"
                    :rules="[v => !!v || 'Por favor, informe um usuário']"
                    label="Informe seu usuário"
                    @keypress.enter="setaProximoFoco()">
                    </v-text-field>
                    <v-text-field
                    v-model="senha"
                    :append-icon="exibe ? 'visibility_off' : 'visibility'"                    
                    :type="exibe ? 'text' : 'password'"
                    name="txtSenha"
                    :rules="[v => !!v || 'Por favor, informe sua senha']"
                    label="Informe sua senha!"
                    @click:append="exibe = !exibe"
                    id="txtSenha"
                    @keypress.enter="fazLogin()">
                    </v-text-field>
                    <v-btn color="success"
                    id="btnLogin"
                    :disabled="!valido"
                    @click="fazLogin">Entrar
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-form>    
</template>


<script>
import axios from 'axios'
export default {
    name:'contato',
    data(){
        return{
            logo:'@img/logotopo.png',
            senha:'',
            usuario:'',
            exibe:false,
            valido:true
        }
    },
    methods:{
        verificaCampos(){
            if(this.$refs.form.valido()){
                this.snackbar = true;
            }
        },
        fazLogin(){
            if(this.valido){
                axios({
                    method:'post',
                    url:'http://localhost:8000/api/auth/login',
                    header:{
                        'Content-type':'Application/Json'
                    },
                    data:{
                        usuario: this.usuario,
                        senha: this.senha
                    }
                }).then(res => {
                    if(res.data.status){
                        this.setCookie("tk",res.data.token,1);
                        this.$router.push('/home');
                        
                    }else{
                        alert(res.data.erro);
                    }
                })
                .catch(res => {
                    // eslint-disable-next-line 
                    console.log(res.data)
                    });
                }
            
        },
        setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            var expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        },
        setaProximoFoco(){
            document.getElementById('txtSenha').focus();
        }
    }
}
</script>

<style scoped>
.justificaCentro{
    justify-content: center;
}
.textoCentro{
    text-align: center;
}
.teste{
    background-color: red;
}
.logo{
    margin-left: auto;
	margin-right: auto;
	display: block;
}

</style>
