<template>
    <div>
        <Cabecalho />
        <TabelaPadraoProcesso />
    </div>
</template>


<script>
import Cabecalho from '@/components/layout/Cabecalho'
import TabelaPadraoProcesso from '@/components/componentes/TabelaPadraoProcesso'

export default {
    
    name:"processos",
    data(){
        return{
            codaluno: "",
            codprofessor: "",
            partes: "",
            numeroProcesso: "",
            codacao: "",
            observacao: ""
        }
    },
    components:{
        Cabecalho,
        TabelaPadraoProcesso
    }
}
</script>

<style scoped>

</style>
