<template>
    <div>
        <Cabecalho />
        <TabelaPadrao tituloTabela="Professores" tipoPessoa='2' tituloBotaoCadastro="Adicionar Professor" tituloModalCadastro="Cadastro de Professor"/>
    </div>
</template>

<script>
import Cabecalho from '@/components/layout/Cabecalho'
import TabelaPadrao from '@/components/componentes/TabelaPadraoPessoa'
export default {
    name:"professores",
    components:{
        Cabecalho,
        TabelaPadrao
    },
    data(){
        return{
            dialog: false
        }
    }
}
</script>

<style scoped>

</style>
